RABBITMQ_URL="amqps://gctnabkn:O5fogenqWYlIFt6E_8TNDd0WH914UHEL@armadillo.rmq.cloudamqp.com/gctnabkn"
DB_HOST=10.11.12.12
DB_HOST_READ=10.11.12.12
DB_CONNECTION=pgsql
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=8%6QGPbz
